ion-content {
    --background: url(../../assets/fundo.png) no-repeat center/cover ;
  }

  .input{
    background: white;
  }

  .margin{
      margin-top: 5%
  }

.img-samba{
  height: 20em;
  margin-left: 18%;
}
.img-letra{
  height: 16em;
  margin-left: 20%;
  position: absolute;
}