

<ion-content>
    <div>
        <img class="img-letra" src="../../assets/letra.png" />
      </div>
  <div *ngIf="!exibirConfig" class="ion-padding" style="margin-top: 55%" >
     
    <ion-input class="input " [(ngModel)]="model.nome"placeholder="Digite seu nome" ></ion-input>
    <ion-input  class="input margin"  [brmasker]="{phone: true}" [(ngModel)]="model.telefone" placeholder="Digite seu telefone"></ion-input>
    <div class="ion-padding">
        <ion-button expand="block" type="submit" (click)="salvar()" class="ion-no-margin">Salvar</ion-button>
        <!-- <ion-button expand="block" type="submit" (click)="listar()" class="ion-no-margin">listar</ion-button>
        <ion-button expand="block" type="submit" (click)="enviar()" class="ion-no-margin">enviar</ion-button> -->

      </div>
  </div>

  <div *ngIf="exibirConfig" class="ion-padding" style="margin-top: 55%">
    <ion-input class="input " [(ngModel)]="config.codigo"placeholder="Codigo" ></ion-input>
    <div class="ion-padding">
        <ion-button expand="block" type="submit" (click)="salvarConfig()" class="ion-no-margin">Salvar</ion-button>
      </div>
  </div>
  <div>
    <img class='img-samba' src="../../assets/logoSamba.png" />
  </div>
</ion-content>
